policy_module(reibit, 1.100.1)

########################################
#
# Declarations
#

type reibit_t;
type reibit_exec_t;
init_daemon_domain(reibit_t, reibit_exec_t)

permissive reibit_t;

type reibit_initrc_exec_t;
init_script_file(reibit_initrc_exec_t)

type reibit_conf_t;
files_type(reibit_conf_t)

type reibit_var_lib_t;
files_type(reibit_var_lib_t)

type reibit_var_run_t;
files_type(reibit_var_run_t)

type reibit_port_t;
corenet_port(reibit_port_t)

########################################
#
# reibit local policy
#
allow reibit_t self:process { fork };

allow reibit_t self:fifo_file rw_fifo_file_perms;
allow reibit_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(reibit_t, reibit_conf_t, reibit_conf_t)
manage_files_pattern(reibit_t, reibit_conf_t, reibit_conf_t)

manage_dirs_pattern(reibit_t, reibit_var_lib_t, reibit_var_lib_t)
manage_files_pattern(reibit_t, reibit_var_lib_t, reibit_var_lib_t)
files_var_lib_filetrans(reibit_t, reibit_var_lib_t, { dir file })

manage_dirs_pattern(reibit_t, reibit_var_run_t, reibit_var_run_t)
manage_files_pattern(reibit_t, reibit_var_run_t, reibit_var_run_t)

sysnet_dns_name_resolve(reibit_t)
corenet_all_recvfrom_unlabeled(reibit_t)

allow reibit_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(reibit_t)
corenet_tcp_sendrecv_generic_node(reibit_t)
corenet_tcp_sendrecv_all_ports(reibit_t)
corenet_tcp_bind_generic_node(reibit_t)

gen_require(`
    type reibit_port_t;
')
allow reibit_t reibit_port_t:tcp_socket name_bind;

gen_require(`
    type reibit_port_t;
')
allow reibit_t reibit_port_t:tcp_socket name_connect;

domain_use_interactive_fds(reibit_t)

files_read_etc_files(reibit_t)

miscfiles_read_localization(reibit_t)

sysnet_dns_name_resolve(reibit_t)

allow reibit_t reibit_exec_t:file execute_no_trans;
allow reibit_t self:process setsched;
corecmd_exec_ls(reibit_t)
corenet_tcp_connect_http_port(reibit_t)
dev_read_urand(reibit_t)
fs_getattr_xattr_fs(reibit_t)
kernel_read_system_state(reibit_t)
